html {background:url(img/bg.jpg) no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}
.d{background-color:#FCFEFE;border:0 solid #000000;border-radius:20px;box-shadow:1px -1px 16px #DCE5F2;font-family:'Open Sans',Arial,Helvetica,sans-serif;font-size:12px;margin:15px auto auto;padding:7px 25px 18px;color: #503a50;width:444px}
.tracker{border-radius:4px;box-shadow:0 0 160px #d3c4e0;color:#000000;font-size:16px;margin:auto;padding:0.5em 1em;text-align:center;width:auto}
#torrents > a > img{opacity: 0.8;box-shadow:0 0 6px #DCE5F2}
#torrents > a > img:hover{opacity: 1}
#torrents > a:hover{opacity: 1;}
#torrents > a{opacity: 0.7;}
a:link {text-decoration:none}
a:visited {text-decoration:none}
a:hover {text-decoration:underline}
a:active {text-decoration:underline}
#ty{margin-bottom:1px}
ul{margin-top:1px}	
sup {font-size:0.6em;position:relative;top:0.1em;vertical-align:top}
#t{background-color:rgba(0, 0, 0, 0);border:0 solid #808080;border-radius:4px;box-shadow:0 0 550px #70b7e6;color:#676767;font-size:11px;line-height:8px;padding:11px 9px 0;width:34em;height:140px;}
small{font-size: 14px;}
